[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
browserhistory = "*"
pywin32 = "*"
opencv-python = "*"
sounddevice = "*"
scipy = "*"
pillow = "*"
pynput = "*"
pycryptodome = "*"

[dev-packages]

[requires]
python_version = "3.9"
